<launch>


    <node pkg="phase2s" type="star.py" name="star" output="screen">
        <param name="linear_speed" value="2" />
        <param name="angular_speed" value="-0.5"/>
        <param name="goal_angle" value="90"/>
        <param name="stop_distance" value="1"/>
        <param name="epsilon" value="0.00001"/>
        
    </node>

    <node pkg="phase2s" type="monitor_star.py" name="monitor_star"></node>

    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_empty_world.launch">
        <arg name="x_pos" value="0"/>
        <arg name="y_pos" value="0.0"/>
        <arg name="z_pos" value="0.0"/>
        <!-- <arg name="yaw" value="1.57075"/> -->
        <!-- <arg name="yaw" value="0"/> -->
    </include>

    <include file ="$(find turtlebot3_gazebo)/launch/turtlebot3_gazebo_rviz.launch"/>

   
</launch>